.btn {
	padding: 1rem 2.25rem;
	border-radius: 100px;
	font-family: 'Poppins', sans-serif;
	border: none;
	cursor: pointer;
	outline: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 1.4rem;
	opacity: 0.4;
	transition: all 0.2s;
}

.btn:hover {
	opacity: 1;
}

.active {
	opacity: 1;
}
